.checkbox {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 2px solid var(--color-purple-dark);
  display: inline-block;
  position: relative;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
  cursor: pointer;
  flex-shrink: 0;
}

.checkbox--checked {
  background-color: var(--color-orange-primary);
  border: none;
  background-image: url('/assets/images/icons/checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}
