@import '../../../../styles/abstracts/mixins';

.error_msg {
  color: red;
  font-size: var(--font-size-text-small);
  margin-top: 8px;
  width: 200px;
  visibility: hidden;
}

.error_msg--visible {
  visibility: visible;
}

.create-survey__option-row {
  @include flex-space-btw;
  width: 100%;
  max-width: 300px;
  margin-bottom: 4px;
}

.create-survey__option {
  .error_msg {
    margin-bottom: 4px;
  }
}

.create-survey__add-btn {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 6px;
  cursor: pointer;
  @include flex-space-btw;
  gap: 4px;

  font-family: var(--font-text-bold);
  font-size: 14px;

  transition:
    color 0.2s ease,
    border-color 0.2s ease;

  &:hover {
    background-color: #5c5061;
  }
}

.create-survey__add-answer {
  @include flex-space-btw;
  width: 100%;
  max-width: 310px;
  margin: 8px 0;
  span {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .create-survey__option {
    width: 100%;
    max-width: none;
    gap: 8px;
  }

  .create-survey__option-label {
    width: 24px;
  }
}

@media(max-width: 550px){
  .create-survey__add-answer {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}