<main>
  <div class="survey-view-left">
    <div class="survey-view-left-content">
      <div class="survey-view-left-header">
        <span class="survey-view-left-content-status">Published</span>
        <div class="survey-view-left-content-header">
            <span>Ends on 01.09.2026</span>
            <span>Category: Team activity</span>
        </div>
        <h1>How do you like our new office?</h1>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit auctor dui, sed efficitur ligula. Donec a nunc ac nisi efficitur convallis. Sed at nunc sed enim efficitur tincidunt. In hac habitasse platea dictumst. Donec eget odio a enim efficitur convallis. Sed at nunc sed enim efficitur tincidunt. In hac habitasse platea dictumst.</span>
      </div>


      <div class="survey-view-left-body">
        <app-survey-view-question></app-survey-view-question>
        <app-survey-view-question></app-survey-view-question>
        <app-survey-view-question></app-survey-view-question>
        <app-survey-view-question></app-survey-view-question>
      </div>
      <app-buttons class="survey-view-left-footer" [buttonText]="'Complete survey'"></app-buttons>
    </div>
  </div>
  <div class="survey-view-right">
      <h2>Survey results <span class="live">Live</span></h2>
      <app-survey-view-chart></app-survey-view-chart>
      <app-survey-view-chart></app-survey-view-chart>
      <app-survey-view-chart></app-survey-view-chart>
      <app-survey-view-chart></app-survey-view-chart>
  </div>
</main>
