main {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // align-items: center;
}

.survey-view-left {
    background-color: #8E70991A;
    width: 60%;
    margin-left: 110px;
    border-top-right-radius: 160px;
    padding: 0px 40px;
}   

.survey-view-right {
    width: 40%;
    margin-right: 110px;
    margin-left: 42px;
    margin-top: 142px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.survey-view-left-content-status{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color:var(--color--p-o);
    margin-top: 40px;
    margin-bottom: 8px;
    padding: 3px 12px 3px 8px;
    border-top-right-radius: 14px;
}

.survey-view-left-content-header{
    display:flex;
    justify-content: space-between;
    margin-right: 40px;
}

h1{
    font-family: "Nerko_One", sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 50px;
    color:#EE9236;
}

.survey-view-left-content {
    display: flex;
    flex-direction: column;
}

app-buttons {
    align-self: end;
    margin-bottom: 40px;
    margin-top: 40px;
}

.survey-view-left-body{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.live {
    font-family: "Nerko_One", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: var(--color--p-o);

}