<section
  [ngClass]="{
    'landing-page__ending-soon-cards': !secondaryStyle(),
    'survey-list-container': !secondaryStyle(),
    'landing-page__active-cards': secondaryStyle(),
  }"
>
  @for (item of getfilteredSurveys(); track item.id) {
    <article
      [class.card-primary]="!secondaryStyle()"
      [class.survey-card]="!secondaryStyle()"
      [class.card-secondary]="secondaryStyle()"
      [routerLink]="['survey', item.id]"
    >
      <p
        [class.card-primary__category]="!secondaryStyle()"
        [class.card-secondary__category]="secondaryStyle()"
      >
        {{ item.category }}
      </p>
      <h3
        [class.card-primary__title]="!secondaryStyle()"
        [class.card-secondary__title]="secondaryStyle()"
      >
        {{ item.title }}
      </h3>
      <span
        [class.card-primary__badge]="!secondaryStyle()"
        [class.card-secondary__badge]="secondaryStyle()"
      >
        {{ calculateRemainingDays(item.end_date) }}
      </span>
    </article>
  } @empty {
    <span class="no-surveys">Huhu! There are no surveys to display!</span>
  }
</section>
