<main class="content">
    <h2>Your Surveys</h2>
    <div class="surveys-group">
        <span class="ending-span">Ending soon surveys</span>
        <div class="soon-ending-surveys">

            <div [routerLink]="'survey'" id="ending-1" class="ending-items">
                <div class="ending">
                    <span class="ending-span-1">Team activities</span>
                    <h3 class="ending-name-1">Let’s Plan the Next Team Event Together</h3>
                    <p class="ending-countdown-1">Ends in 1 Days</p>
                </div>
            </div>

            <div id="ending-2" class="ending-items">
                <div class="ending">
                    <span class="ending-span-2">Health & Wellness</span>
                    <h3 class="ending-name-2">Stay Fit and Healthy</h3>
                    <p class="ending-countdown-2">Ends in 2 Days</p>
                </div>
            </div>

            <div id="ending-3" class="ending-items">
                <div class="ending">
                    <span class="ending-span-3">Gaming & Entertainment</span>
                    <h3 class="ending-name-3">Level Up Your Gaming Skills</h3>
                    <p class="ending-countdown-3">Ends in 3 Days</p>
                </div>
            </div>

        </div>
    </div>
</main>
