main{
    background-color: #8E709929;
    padding: 40px 32px 40px 32px;
    border-top-right-radius: 80px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
}

.form-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    gap: 34px;
}

.form-top--left,
.form-top--right
{
    flex: 0 0 50%;
    box-sizing: border-box;
}

.form-bottom{
    margin-top: 64px;
}

.form-bottom--content{
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.form-bottom--content app-question-form{
    flex: 0 0 429px;
    max-width: 429px;
}

.form-bottom--content app-buttons{
    align-self: flex-start;
    margin-left: 72px;
}

.form-top--left-end-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select{
    background-color: transparent;
    color: white;
    border: none;
    height: 40px;
}

select option{
    background-color: #43334A;
    border: none;
}


@media (max-width: 800px){
    .form-bottom--content{
        flex-direction: column;
        gap: 16px;
    }
    .form-bottom--content app-question-form{
        flex: 1 1 auto;
        width: 100%;
        max-width: none;
    }
    .form-bottom--content app-buttons{
        margin-left: 0;
        align-self: flex-start;
    }
}


