.survey-item{
    font-family: "Mulish", sans-serif;
    background-color: rgba(217, 217, 217, 0.08);
    padding: 16px;
    border-top-right-radius: 80px !important;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    cursor: pointer;
    height: 127px;
    max-width: 513px;
    box-sizing: border-box;
    overflow: hidden;

    h3 {
        margin: 8px 0;
        overflow-wrap: anywhere;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    &--head{
    color: var(--color--s-o);
    }

    &--time-left{
        align-self: flex-end;
        font-size: 12px;
        color: black;
        background-color: var(--color--s-o);
        padding: 3px 6px 3px 6px;
        border-top-right-radius: 14px;
    }
}