<section class="survey-detail">
  <article class="survey-detail__header">
    <span class="badge">{{ getPublishLabel() }}</span>

    <div class="survey-detail__meta">
      <p class="survey-detail__meta-item">Ends on: {{ formatEndDate() || "No end date" }}</p>
      <p class="survey-detail__meta-item">Category: {{ surveyDetails()?.category }}</p>
    </div>

    <h2 class="survey-detail__title">{{ surveyDetails()?.title }}</h2>

    <p class="survey-detail__description">
      {{ surveyDetails()?.description }}
    </p>
  </article>

  <article class="survey-detail__questions">
    @for (q of surveyQuestions(); track q.id) {
      <app-question-item
        [isPastSurvey]="isPastSurvey()"
        class="survey-detail__question-item"
        [question]="q"
        (selectedChange)="selectionChanged.emit($event)"
      >
      </app-question-item>
    }
  </article>
</section>
