<main class="content">
    <div class="survey-list-header">
        <div class="survey-list-header--btn">
            <button class="activ-surveys survey-btn active">Active survey</button>
            <button class="past-surveys survey-btn">Past survey</button>
        </div>
        <div class="survey-list-header--sort">
            <select name="SortByCategories" id="SortByCategories">
                <option value="All">Sort by categories</option>
                <option value="Category1">Category1</option>
                <option value="Category2">Category2</option>
                <option value="Category3">Category3</option>
            </select>
        </div>
    </div>
    <div class="survey-list">
        <app-survey-item></app-survey-item>
        <app-survey-item></app-survey-item>
        <app-survey-item></app-survey-item>
        <app-survey-item></app-survey-item>
        <app-survey-item></app-survey-item>
        <app-survey-item></app-survey-item>
        <app-survey-item></app-survey-item>
        <app-survey-item></app-survey-item>
    </div>
</main>
