main{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-bottom: 90px;
    padding: 0 100px;
}

h1{
    font-family: "Nerko_One", sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 89px;
    margin: 0;
    margin-bottom: 24px;
    color: var(--color--p-o);
}

.description-span{
    font-family: "Mulish", sans-serif;
    font-size: 24px;
    line-height: 100%;
    margin: 0 0 40px 0;
    max-width: 666px;
}

.description-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description-text-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.phone-img{
    width: 420px;
}
