<main class="description-div content">
    <div class="description-content">
        <div class="description-text-btn">
            <h1>Collect Feedback,<br> Unlock Ideas</h1>
            <span class="description-span">Create and share surveys in minutes from team events to workplace culture. Collect opinions, engage your audience, and turn feedback into action</span>
            <app-buttons [routerLink]="['/newsurvey']"></app-buttons>
        </div>
    </div>

        <div class="description-image" (mouseenter)="onImageEnter()" (mouseleave)="onImageLeave()">
            <img class="phone-img" [src]="phoneImageSrc()" alt="Mobile Phone">
        </div>
</main>