@import '../../../../styles/abstracts/mixins';

.option-item {
  &__list {
    @include reset-li;
  }

  &__entry {
    cursor: pointer;
    margin: 16px 0;
    padding: 4px 8px;
    @include flex-space-btw;
    justify-content: flex-start;

    &:hover {
      background-color: var(--color-orange-tertiary);
    }
  }

  &__index {
    margin: 0 8px;
    font-weight: 800;
  }
}

.option-item__entry.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  background-color: transparent;
}
