@import '../../../../styles/abstracts/mixins';

.delete-btn {
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  @include flex-center;

  color: white; 
  transition:
    color 0.2s ease,
    transform 0.2s ease;

  &:hover {
    color: var(--color-purple-dark);
    background-color: var(--color-orange-secondary);
    border-radius: 2px;
  }
}

.delete-btn__icon {
  width: 14px;
  height: 18px;
  pointer-events: none;
}
