<main>
  <span class="survey-view-question-title">1. Which date would work best for you?</span>
  <p class="survey-view-question-description">More than one answers are possible.</p>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkDefault" />
    <label class="form-check-label" for="checkDefault"> A. <span class="form-check-label--span">19.09.2026, Friday</span> </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkDefault" />
    <label class="form-check-label" for="checkDefault"> B. <span class="form-check-label--span">20.09.2026, Saturday</span> </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkDefault" />
    <label class="form-check-label" for="checkDefault"> C. <span class="form-check-label--span">21.09.2026, Sunday</span> </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkDefault" />
    <label class="form-check-label" for="checkDefault"> D. <span class="form-check-label--span">22.09.2026, Monday</span> </label>
  </div>

</main>
