main {
  padding: 40px 54px 40px 54px;
  margin: 72px 165px 108px 109px;
  background-color: var(--color--background);
  border-top-right-radius: 100px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

app-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}
