/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
:root{
    --color--background: rgba(53, 39, 58, 1);
    --color--p-o: rgba(255, 183, 112, 1);
    --color--s-o: rgba(255, 207, 161, 1);
    --color--bg-c: rgba(250, 245, 254, 1);
}

:root{
    --home--margin-l-r: 111px;
}

*{
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Mulish";
    src: url('/assets/fonts/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "Nerko_One";
    src: url('/assets/fonts/Nerko_One/NerkoOne-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "Nokora";
    src: url('/assets/fonts/Nokora/Nokora-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

body{
    background-color: var(--color--background);
    margin: 0;
    font-family: "Mulish", sans-serif;
    color: white;
}

body.newsurvey-body {
    background-color: #FEFDFF;
    color: #1f1f1f;
}

body.survey-body {
    background-color: #FEFDFF;
    color: #1f1f1f;
}

.content{
    max-width: 1440px;
    margin: 0 auto;
}